/*colour scheme:
#cf6766 - pale crimson
#30415d - indigo
#031424 - ultramarine
#8eaebd - light blue*/

ul {

}

#login {

}

#signup {

}

.main-container {

}

.loginbox {

}

.signupbox {
  
}



footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
