/*colour scheme:
#cf6766 - pale crimson
#30415d - indigo
#031424 - ultramarine
#8eaebd - light blue*/

* {
  margin: 0px auto;
  padding: 0px;
  /*background-color: */

}

#login {

}

#signup {

}

.main-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.box-container {
  position: absolute;
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: #30415d;
  border-radius: 20px;
  /*transition: all 0.5s;*/
}

.tabs > li {
  position: relative;
  float: left;
  width: 50%;
  list-style: none;
  text-align: center;

}

.tabs > li > a {
  text-decoration: none;
  font-size: 2.5em;
  color: #8eaebd;
  line-height: 3em;
  padding: 10px;
  display: block;
  /*transition: all 0.5s;*/
}

.tabs > .active > a {
  color: #cf6766;
}

.underline {
  position: relative;
  width: 100%;
  float: left;
  background-color: #8eaebd;
  height: 1px;
}

.active .underline {
  position: relative;
  width: 100%;
  float: left;
  background-color: #cf6766;
  height: 1px;
}

.inputs-container {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 15px;
}

.form-input {
  position: relative;
  width: 90%;
  border: none;
  border-bottom: 1px solid #cf6766;
  background-color: transparent;
  font-size: 1.2em;
  line-height: 3em;

  /*transition: all 0.5s;
  height: 0px;
  margin: 0px;
  padding: 0px;
  opacity: 0;*/
  display: none;
}

.active_input {
  display: block;
  opacity: 1;
  margin: 5% 5%;
  padding: 10px 0px;
  height: 5px;
}

.form-input:focus {
  border-bottom: 1px solid #8eaebd;
}

.inputs-container > input:nth-child(1){
  transition-delay: 0.2s;
}

.inputs-container > input:nth-child(2){
  transition-delay: 0.4s;
}

.inputs-container > input:nth-child(3){
  transition-delay: 0.6s;
}

.btn-container {
  position: relative;
  float: left;
}

.loginbox {
  position: relative;

}

.signupbox {
  position: relative;

}

form {
  margin: 2%;
  width: 90%;
}


footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}


/* Larger than mobile */
@media (min-width: 400px) {

}

/* Larger than phablet */
@media (min-width: 550px) {

}

/* Larger than tablet */
@media (min-width: 750px) {

}

/* Larger than desktop */
@media (min-width: 1000px) {

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {

}
